*,
*:after,
*:before {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", "Myriad Pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: #2b0c31;
  font-size: 1.4rem;
  font-size: 14px;
  word-spacing: .5px;
  letter-spacing: .05em;
  height: 100%;
  line-height: 1.65;
  font-weight: 400;
  position: relative;
  margin: 0;
}

body ul,
body ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 100%;
  position: relative;
  z-index: 5;
}

.container.narrow-container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

a{
  text-decoration: none !important;
}

a:hover{
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 40px;
}
p {
  margin: 0;
}

address {
  margin: 10px 0;
  font-style: normal;
  max-width: 230px;
}

.centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.primary-color{
  fill: #2f0238 !important;
  color: #2f0238 !important;
}

.secondary-color{
  fill: #bb95bb !important;
  color: #bb95bb !important;
}

.tertiary-color{
  fill: #750338 !important;
  color: #750338 !important;
}

.color-inverse{
  fill: #571707 !important;
  color: #571707 !important;
}

.color-white{
  color: #fff !important;
}

.bg_strips {
    background-image: url(../img/banners/bg_stroke.png);
}

.bg-primary-color{
  background-color: #2f0238 !important;
}

.bg-secondary-color{
  /* fill: #bb95bb !important; */
  background-color: #bb95bb !important;
}

.bg-tertiary-color{
  background-color: #750338 !important;
}

.bg-brown {
  background-color: #312a25 !important;
}

.alt-bg[class*='bg-'] {
  opacity: .85;
}

.alt-bg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  background-repeat: no-repeat;
}

.container.narrow_container {
  max-width: 1000px;
}

.bg-polygons {
  background-image: url(../img/banners/bg_networks.svg);
  background-size: cover;
}

.font_regular {
  font-weight: 400 !important;
  font-family: "Montserrat", "Myriad Pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
}

.bg-off-white {
  background-color: #f5f5f5 !important;
}

.text-caps{
  text-transform: uppercase !important; 
}

.text-center {
  text-align: center !important;
}

.font-md{
  font-size: 16px;
}

.row-center{
  justify-content: center;
}

.font-lg{
  font-size: 21px !important;
}

.font-bold {
  font-weight: 700 !important;
}

.font-bold {
  font-weight: 700 !important;
}

strong {
    font-weight: 700;
}

.subtitle {
    font-size: 16px;
    display: inline-block;
    max-width: 600px;
}

@media only screen and (min-width: 768px){
  .section_header .subtitle {
      font-size: 21px;
  }
}

.content-wrapper {
  padding-top: 50px;
  padding-bottom: 40px;
}

.content_inner {
  clear: both;
  width: 100%;
}

.flex-row {
    margin: 0 -20px;
    display: flex;
    flex-wrap: wrap;
    zoom: 1;
    padding: 30px;
}

@media screen and (max-width: 500px) {
  .flex-row{
   display: block;
  }
}

.flex-row:before, .flex-row:after {
  content: "";
  display: table;
}

.flex_row:after {
  clear: both;
}

/* .form-horizontal {
  display: flex;
}

.form-horizontal .control-label {
  margin-bottom: 8px;
}

.col-sm-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
} */

button {
  outline: 0;
  border: none;
  appearance: none;
  width: auto;
  height: auto;
  color: inherit;
  cursor: pointer;
  line-height: 1;
  background: 0 0;
}

header {
  width: 100%;
  z-index: 30;
  -webkit-font-smoothing: antialiased;
  height: 60px;
  top: 0;
  left: 0;
}

.main-header {
  position: absolute;
  background: #2f0238;
  box-shadow: 1px 0 4px #353535;
  fill: #f5f5f5;
  color: #f5f5f5;
}

.main_header + .main_content_area {
  padding-top: 60px;
}

.navbar-container {
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}


.logo{
  justify-content: flex-start;
  padding-left: 15px;
}

.logo a:hover{
  color: #bb95bb;
}

.logo-name{
  position: relative;
  bottom: 10px;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
}

/* @media screen and (max-width: 800px) {
  .navbar-container .logo-name{
    bottom: 10px;
  }
} */

.nav-search-box {
  position: relative;
  bottom: 10%;
  flex-grow: 1;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 1024px) {
  .nav-search-box{
    display: none;
  }
}

.nav-search-form {
  background-color: #2e0d20;
  width: 100%;
  /* height: 60px; */
  padding: 8px 10px;
  z-index: 1;
  visibility: visible;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
}

.show_earch .nav-search-form {
  transform: scaleY(1);
  visibility: visible;
  transition: transform 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
}

@media only screen and (min-width: 1024px) {
  .nav-search-form {
    display: block;
    visibility: visible;
    transform: none;
    background: transparent;
    position: relative;
    bottom: 8px;
  }
}

.nav-search-input {
  background-color: #f5f5f5;
  border-radius: 5px;
  color: #353535;
  border: none;
  display: block;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 8px 50px;
}

.nav-search-input:focus {
  outline: none;
}

.nav-search-btn {
  margin-top: -10px;
  border-radius: 0;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: auto;
  fill: #757575;
}

.nav-search-submit {
  left: 13px;
}

.nav-search-reset {
  right: 13px;
  /* opacity: 0; */
  visibility: visible;
  transition: all 0.4s ease;
}

.has_value .nav-search-reset {
  opacity: 1;
  visibility: visible;
}

.icon-xs {
  width: 14px;
  height: 14px;
}

.cust-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    vertical-align: middle;
    fill: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* .navs{
  padding-right: 50px;
} */

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .navbar-group-right{
    margin-right: 30px;
  }
}

.navs{
  background-color: #2f0238;
  height: 100%;
  visibility: visible;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  position: fixed;
  width: 100%;
  left: 0;
  top: 60px;
  /* Tablets and phablets */
}

.is-active .navs{
  transform: scaleY(1);
  visibility: visible;
  transition: transform 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
}

@media only screen and (min-width: 768px) {
  .navs{
    background-color: transparent;
    position: static;
    visibility: visible;
    -moz-transform: scaleY(1);
    transform: scaleY(1);
    /* line-height: 60px; */
  }
}

/* @media screen and (max-width: 800px) {
  .navs{
   display: none;
  }
} */

/* .nav-menu {
  display: flex; */
  /* align-items: center; */
  /* height: 100%; */
  /* Tablets and phablets */
/* } */
@media only screen and (max-width: 767px) {
  /* line 117, ../sass/partials/_header_nav.scss */
  .nav-menu{
    display: flex;
    /* align-items: center; */
    height: 100%;
    flex-direction: column;
  }
}

.nav-links{
  display: inline;
  padding: 10px;
}

.nav-links a{
  color: #fff;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .nav-links a{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
  }
}

.nav-links a:hover{
  color: #bb95bb;
  transform: scaleZ(9.1);
  transition: ease-out 0.1s;
  /* border-width: 100%; */
}

/* @media only screen and (max-width: 767px) {
  .nav-links a:hover{
    color: #bb95bb;
    font-size: 14.1px;
    padding: 10px;
    transform: scale(5);
    transition: ease-out 0.1s;
    /* border-bottom: #bb95bb solid 6px;   */
  /* } */
/* } */ 

.navbar-consts {
  /* position: absolute; */
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .navbar-consts{
    visibility: hidden;
  }
}

.control-btns {
  margin-left: 20px;
  position: relative;
}

.control-btns > a {
  display: block;
}

.control-btns-two {
  margin-left: 40px;
  position: relative;
}

.control-btns-two > a {
  display: block;
}

.control-btns-two .cust-icon {
  width: 25px;
  height: 25px;
  /* Mobile devices */
}
@media only screen and (max-width: 575px) {
  .control-btns-two .cust-icon {
    width: 20px;
    height: 20px;
  }
}

.btn-search-trigger {
  /* fill: #bc8a39; */
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 451, ../sass/partials/_header_nav.scss */
  .btn-search-trigger {
    display: block;
    visibility: visible;
    left: 90%;
    bottom: 20px;
    margin-left: 50px;
    margin-right: 20px;
  }
}

.primary-nav-trigger {
  position: relative;
}

.menu-icon {
  /* this span is the central line of the menu icon */
  display: block;
  width: 24px;
  height: 3px;
  background-color: #fff;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */
}

.menu-icon::before, .menu-icon:after {
  content: '';
  width: 24px;
  height: 3px;
  position: absolute;
  background-color: #fff;
  /* right: 0; */
  transition: transform 0.3s, top 0.3s, background-color 0s;
}

.menu-icon::before {
  top: -7px;
}

.menu-icon::after {
  top: 7px;
}

.menu-icon.is-clicked {
  background-color: rgba(188, 138, 57, 0);
}

.menu-icon.is-clicked::before, .menu-icon.is-clicked::after {
  background-color: #fff;
}

.menu-icon.is-clicked::before {
  top: 0;
  transform: rotate(135deg);
}

.menu-icon.is-clicked::after {
  top: 0;
  transform: rotate(225deg);
}

.hero-area {
  width: 100%;
  position: relative;
  z-index: 1;
  height: auto;
  overflow: hidden;
  min-height: 600px;
  padding: 30px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 992px) {
  .hero-area {
    height: 100vh;
    max-height: 700px;
    padding: 60px 0;
  }
}

.hero-area::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: .9;
}

.hero-area-2 {
  width: 100%;
  position: relative;
  z-index: 1;
  height: auto;
  overflow: hidden;
  min-height: 600px;
  padding: 30px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 992px) {
  .hero-area-2 {
    height: 100vh;
    max-height: 700px;
    padding: 60px 0;
  }
}

.hero-area-2::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: .9;
}

.main-hero{
  background-image: url(../img/banners/hero.jpg);
  /* background-repeat: no-repeat; */
}

.main-hero-2{
  background-image: url(../img/banners/hero2.jpg);
  /* background-repeat: no-repeat; */
}

.main-hero-3{
  background-image: url(../img/banners/hero3.jpg);
  /* background-repeat: no-repeat; */
}

.main-hero::before {
  opacity: .7;
  background-color: #ffffffa3;
}

.main-hero-2::before {
  opacity: .7;
  background-color: #ffffffa3;
}

.main-hero-3::before {
  opacity: .7;
  background-color: #ffffffa3;
}

.hero-background img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  display: none;
}

.hero-split {
  position: relative;
  *zoom: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
}

.hero-split:before, .hero-split:after {
  content: "";
  display: table;
}

.hero-split:after {
  clear: both;
}
@media only screen and (min-width: 768px) {
  .hero-split {
    flex-direction: row;
  }
}

.split-content-area,
.split-form-area {
  -webkit-box-flex: 1;
  width: 100%;
}

@media only screen and (min-width: 768px) {

  .split-content-area {
    max-width: 65%;
    flex: 1 0 65%;
    padding-right: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .split-form-area {
    max-width: 35%;
    flex: 1 0 35%;
  }
}

@media only screen and (min-width: 992px) {
  .contact-us .split-content-area {
    margin-bottom: 300px;
  }
}

/* @media only screen and (min-width: 992px) {
  .contact-us .split-form-area {
    margin-bottom: auto;
  }
} */

/* @media only screen and (min-width: 992px) {
  .contact-us .subscribe{
    margin-top: 100px;
  }
} */

.split-content-area-two,
.split-form-area-two {
  -webkit-box-flex: 1;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .split-content-area-two {
    max-width: 55%;
    flex: 1 0 55%;
    padding-right: 50px;
  }
}

@media only screen and (min-width: 768px) {

  .split-form-area-two {
    max-width: 45%;
    flex: 1 0 45%;
  }
}

.pane-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.5;
}

.banner-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-caption {
  max-width: 500px;
  padding-bottom: 30px;
}

@media only screen and (min-width: 992px) {
  .banner-caption{
    margin-top: 100px;
  }
}

.banner_caption .hero_title {
  margin-bottom: 15px;
  line-height: 1.1;
}

.data-item {
  display: block;
}

.banner-caption .data-item {
  padding: 15px 0;
}

.data-item a:hover, .data-item:focus {
  text-decoration: underline;
  opacity: .85;
}

.data-item .data-label,
.data-item .data-value {
  font-size: 14px;
  display: block;
  line-height: 1.4;
}

.section-wrapper {
  padding: 60px 30px;
  position: relative;
}

@media screen and (max-width: 800px) {
  .section-wrapper{
    padding: 60px 10px;
  }
}


.banner-bg .section-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.banner-content {
  padding-top: 60px;
  position: relative;
}

.hero-intro-msg {
  max-width: 650px;
  padding: 60px 0 40px;
  font-size: 21px;
  position: relative;
  bottom: 25px;
}

.hero-title {
  color: #2f0238;
  font-size: 60px;
  margin-bottom: 10px;
  line-height: 140%;
  font-weight: 700;
  padding-top: 100px;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .hero-title{
    font-size: 40px;
  }
}

.hero-subtitle {
  color: #2f0238;
  font-weight: 300;
}

@media screen and (max-width: 800px) {
  .hero-subtitle{
    font-size: 20px;
  }
}

.main-content{
  position: relative;
  z-index: 1;
}

.section-block {
  width: 100%;
  clear: both;
  background-size: cover;
  position: relative;
}


.section-header {
  padding-bottom: 40px;
}

.faq .section-header{
  padding-top: 30px;
}

.section-title {
  font-size: 32px;
}

.deco-bar {
  display: block;
  clear: both;
}

.deco-bar::after {
  display: inline-block;
  content: "";
  position: relative;
  bottom: 60px;
  width: 8rem;
  max-width: 150px;
  height: 4px;
  border-radius: 15px;
  background-color: #bb95bb;
  margin-top: 50px;
}

@media screen and (max-width: 500px) {
  .deco-bar::after{
    margin-top: 30px;
  }
}

.widget-floated {
  position: absolute;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  top: -100px;
  z-index: 100;
  max-width: 1200px;
  max-height: 300px;
}

.destination-search-widget {
  width: 100%;
}

.widget-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px 15px;
  background: #ffffff;
  border: 3px solid #2f0238;
  box-shadow: 3px 7px 25px rgb(187 149 187/ 40%);
  border-radius: 5px;
}

.widget_header {
  display: block;
  clear: both;
  margin-bottom: 30px;
}

.widget-title {
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 10px;
  font-weight: 700;
}

.custom-control-group {
    clear: both;
    display: flex;
    flex-direction: row;
    box-pack: justify;
    justify-content: space-between;
    box-align: center;
    align-items: center;
    flex-flow: column nowrap;
}

.tour-input-group {
  width: 100%;
  margin-bottom: 0;
  max-width: 100%;
  border-radius: 5px;
}

.input-group-wrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .widget-floated .input-group-wrapper{
    display: block;
    margin: 10px 0;
  }
}

@media screen and (max-width: 800px) {
  .tour-budget-banner .input-group-wrapper{
    display: block;
    margin: 10px 0;
  }
}

.form-group {
  position: relative;
  margin-bottom: 20px;
  margin: 0;
}

.tour-input-item {
  padding: 0 .625em;
  position: relative;
  flex: 1 1 20%;
  /* min-width: 20%;
  width: 100%; */
}

@media screen and (max-width: 800px) {
  .widget-floated .tour-input-item{
   padding: 0;
   margin-bottom: 5px;
  }
}

@media screen and (max-width: 800px) {
  .tour-budget-banner .tour-input-item{
   padding: 0;
   margin-bottom: 5px;
  }
}

.tour-input-item.tour-price{
  position: relative;
  flex: 1 1 10%;
  min-width: 10%;
  width: 100%;
}

.funky-form {
  position: relative;
}

.control-label {
  z-index: 4;
  font-weight: 600;
  text-align: left;
  box-sizing: border-box;
  line-height: 1.4rem;
  display: inline-block;
  font-size: 14px;
  letter-spacing: .1rem;
  margin-bottom: 0;
  padding-bottom: 7.5px;
  transition: all 0.4s ease;
}

.funky-form .control-label {
  display: block;
  top: -10px;
  opacity: 0;
  margin-bottom: 0;
  font-size: 70%;
  user-select: none;
  position: absolute;
  border-radius: 5px;
  pointer-events: none;
  padding: 6px 12px 3px;
  background-color: white;
  transform: translateY(3
px
);
}

.form-control {
  display: block;
  padding: 7px 10px;
  font-size: 14px;
  line-height: normal;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 10px;
  outline: 0;
  width: 100%;
  position: relative;
  border: 1px solid #d5d5d5;
  overflow: hidden;
  border-radius: 5px;
  color: #353535;
  text-indent: .01px;
  min-height: 40px;
  box-shadow: 0 0 3px rgb(53 53 53 / 20%);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select.form-control {
  background: white url(../img/arrow-down.png) right center no-repeat;
  padding-right: 10px;
  -webkit-appearance: none;
}

.form-control.input_filled {
  box-shadow: none;
  height: auto;
  background-color: #f5f5f5;
}

.tour-input-item .form-control {
  border-radius: 0;
  min-height: 50px;
}

.tour-input-btn {
  max-width: 25%;
  flex: 1 1 20%;
  padding-left: 20px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .tour-input-btn{
    display: unset;
    width: 80%;
  }
}

.btn, a.btn{
  border: none;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  letter-spacing: .125em;
  padding: 1.65em 3em;
  text-align: center;
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  fill: #f5f5f5;
  line-height: normal;
  cursor: pointer;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn.btn-primary{
  background-color: #2f0238;
}

.btn.btn-primary:hover{
  background-color: #bb95bb;;
  color: #2f0238;
  fill: #2f0238;
}

.btn.search-tour-btn {
  background-color: #2f0238;
}



.btn.btn-default, a.btn.btn-default {
  background-color: #ffffff;
  color: #2f0238;
  fill: #2f0238;
  border: none;
}

.btn.btn-default:hover, .btn.btn-default:focus,
a.btn.btn-default:hover,
a.btn.btn-default:focus {
  background-color: #d5d5d5;
}

.btn-sm.btn, .btn-group-sm > .btn {
  padding: 1.35em 1.75em;
  font-size: 11px;
}

.tour-input-btn .btn {
  display: block;
  width: 100%;
}

.date-icon{
  background-image: url(./img/date.svg);
  z-index: 11;
  width: 16px;
  height: 16px;
  position:absolute;
  left: 85%;
  top: 35%;
}

@media screen and (max-width: 800px) {
  .date-icon{
    left: 96%;
  }
}

@media screen and (max-width: 500px) {
  .date-icon{
    left: 91%;
  }
}


.widget-floated + .section-header {
  margin-top: 100px;
  padding-bottom: 40px;
}

@media screen and (max-width: 800px) {
  .widget-floated + .section-header{
    margin-top: 300px;
  }
}


.big-section-title  {
  font-size: 50px;
  font-weight: 700;
} 

@media screen and (max-width: 500px) {
  .big-section-title{
    font-size: 30px;
    /* font-weight: 400; */
  }
}

.content-inner {
  clear: both;
  width: 100%;
  padding: 20px;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.card-list {
  position: relative;
  padding: 20px 0;
  /* display: flex;
  flex-flow: row wrap; */
  /* margin-left: -.1em;
  margin-right: -.625em; */
  /* max-width: 100%;
  flex-basis: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 800px) {
    .card-list{
      grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 801px) and (max-width: 1100px){
  .card-list{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .card-list{
    display: block;  
  }
}

.tour-card {
  display: flex;
  flex: 0 0 20%;
  /* max-width: 2%; */
  margin: 20px 12px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 15px rgb(24 24 24 / 15%);
  /* border-radius: 5px;    */
  color: #312a25;
  padding:0  0.626em 1.25em;
  transform: translateY(0);
  transition: 300ms ease all;
  flex-basis: 100%;
  margin-left:13px;
  /* overflow: hidden; */
}

.tour-card:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 15px rgb(24 24 24 / 40%);
}

.tour-card-wrapper{
  background-color: #ffffff;
  opacity: .85;
  flex: 1 1 100%;
}

.tour-card-hd {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 9px;
  text-transform: uppercase;
  padding: 15px 10px;
}

.tour-card-meta {
  flex: 1;
  overflow: hidden;
}

.tour-program-type {
  letter-spacing: .1em;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  color: rgba(53, 53, 53, 0.75);
}

.tour-card-banner {
  position: absolute;
  right: 0.7px;
  min-height: 150px;
  z-index: 0;
  width: 100%;
  /* background-color: #bc8a39; */
  padding: 15px 10px;
}

.tour-card-banne a:hover{
  background-color: white;
}

.tour-card-img {
  /* background: linear-gradient(
    0deg, rgba(47, 2, 56, 0.466), rgba(47, 2, 56, 0.534)); */
  background-size: cover;
  background-position: center;
  z-index: 5;
  background-repeat: no-repeat;
  /* background: ; */
}

.card_gradient, .tour-card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tour-card-bd {
  padding: 15px 10px;
  padding-bottom: 20px;
  margin-top: 150px;
 
}

.info-list-item {
  display: flex;
  flex-direction: row;
}

.tour-support-info {
  color: #353535;
  font-size: 12px;
  margin-top: 1em;
}

.info-list-item.tour-item-info {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.info-image {
  display: flex;
  box-flex: 0;
  position: relative;
  top: 2px;
  flex: 0 0 30px;
}

.price-box {
  width: 60px;
  height: 60px;
  padding: 8px 4px;
  font-size: 11px;
  text-align: center;
  margin-right: 10px;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.price-box > span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.day {
  font-size: 1.75em;
  font-weight: 400;
  position: relative;
  top: 5px;
  /* margin: 4px 0; */
}

.info-container {
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.tour-item-info .info-container {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.info-container.flex-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}
.info-list-tem:last-child .info-container {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.info-item-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.tour-card-support {
  padding: 10px 15px;
  font-size: 11px;
  line-height: 1.1;
}

.tour-budget-banner {
  background: linear-gradient(0deg, rgba(47, 2, 56, 0.466), rgba(47, 2, 56, 0.534)), url(../img/banners/tour-banner1.jpg);
  background-size: cover;
  background-position: center;
}

.tour-budget-banner .custom-control-group{
  margin-top: 100px;
}

.info-box {
  width: 100%;
  border: 4px solid #2f0238;
  border-radius: 4px;
  background-color: #ffffff;
  min-height: 300px;
  margin-top: 100px;
}


.info-pane {
  position: relative;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  
  .info-pane {
    min-height: 300px;
  }
}


.info-wrapper {
  display: block;
  padding: 20px;
  height: 100%;
}

.panel-body {
  padding: 20px 0;
}

.panel-group {
  display: block;
  clear: both;
  padding: 20px 0;
}

.panel {
  margin: 0;
  display: block;
  box-shadow: -2px 1px 3px rgba(53, 53, 53, 0.2);
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.panel.panel-opaque {
  border-bottom: 1px solid #d5d5d5;
  box-shadow: none;
  border-radius: 0;
}

.panel + .panel {
  margin-top: 15px;
}

.panel-heading {
  *zoom: 1;
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #d5d5d5;
}

.panel-heading:before, .panel-heading:after {
  content: "";
  display: table;
}

.panel-heading:after {
  clear: both;
}

.panel_opaque .panel-heading {
  border-bottom: none;
}

.panel_opaque .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
}

.panel-title {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
}

.panel-title + span {
  font-size: .85em;
  color: #959595;
}

.panel-title > a {
  display: block;
  color: inherit;
}

.panel-title > a:hover, .panel-title > a:focus, .panel-title > a:visited {
  color: inherit;
  outline: none;
}

.accordion-toggle {
  display: block;
}

.accordion-toggle {
  display: block;
}

.accordion-toggle:hover, .accordion-toggle:focus, .accordion-toggle:visited {
  color: inherit;
  outline: none;
}

.accordion-toggle::after {
  content: "-";
  color: #2f0238;
  float: right;
  font-weight: 400;
  font-size: 1.5em;
  margin-left: 15px;
}

.settings_panel .accordion-toggle::after {
  display: none;
}

.accordion-toggle.collapsed::after {
  content: "+";
  color: #2f0238;
}.accordion-toggle {
  display: block;
}

.accordion-toggle:hover, .accordion-toggle:focus, .accordion-toggle:visited {
  color: inherit;
  outline: none;
}

.accordion-toggle::after {
  content: "-";
  float: right;
  font-weight: 400;
  font-size: 1.5em;
  margin-left: 15px;
}

.settings_panel .accordion-toggle::after {
  display: none;
}

.accordion-toggle.collapsed::after {
  content: "+";
}

.info_header {
  display: table;
  width: 100%;
  margin-bottom: 15px;
}

.info_header .info_count, .info_header .info_title {
  display: table-cell;
  vertical-align: middle;
}


.info-count {
  line-height: 1;
  font-size: 50px;
  opacity: .7;
}


.info-title {
  font-size: 16px;
  line-height: 145%;
}

.info-header .info-title {
  padding-left: 15px;
  font-size: 21px;
  font-weight: 700;
}

.random_info_card {
  padding: 15px;
  width: 100%;
}

.card_wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px rgba(53, 53, 53, 0.2);
  border-radius: 5px;
  line-height: 150%;
  position: relative;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.infoCard_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.infoTitle {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.info_list_item {
    display: flex;
    flex-direction: row;
}

.info_list_item:last-child .info_container {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
.info_container {
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.hr-line {
  display: block;
  height: 5px;
  width: 100%;
  background-color: #736459;
  *zoom: 1;
    background-size: 100%;
  background-image: linear-gradient(to right, #312a25 0%, #bc8a39 25%, #b44e3a 50%, #00a99d 75%, #2e0d20 100%);
}

.block-panel {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 5px 5px 25px 0 rgba(53, 53, 53, 0.1);
}

.auth-panel .block-panel {
  border-radius: 0;
}

.auth-panel {
  max-width: 500px;
  margin: 30px auto;
}

.block-header {
  clear: both;
  padding: 15px 30px 10px;
}

.auth-panel .block-header {
  padding-top: 35px;
  margin-bottom: 20px;
}

.content-inner {
  clear: both;
  width: 100%;
}

.block-panel .content-inner {
  padding: 15px 30px 30px;
}

.auth-panel .content-inner {
  min-height: 300px;
}

.content-social {
  padding: 10px 15px 10px;
  margin-bottom: 15px;
  background-color: #f5f5f5;
}

.content-inner > h2.info-title {
  margin-bottom: 25px;
}

.error-message {
  display: block;
  padding: 10px 15px;
  margin-bottom: 15px;
  margin-top: 20px;
  clear: both;
  background-color: rgba(180, 78, 58, 0.2);
  border-radius: 3px;
  color: #353535;
}


.social-prop {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}


.social-btn {
  width: 50px;
  height: 30px;
  line-height: 30px;
  fill: #ffffff;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  margin: 0 25px;
  transition: all 0.6s;
}

.social-btn:hover, .social-btn:focus {
  fill: #ffffff;
  background-color: #2f0238;
}

.bg-fb {
  background-color: #3b5893;
}

.bg-tw {
  background-color: #1fa1f2;
}

.bg-goog {
  background-color: #dd4b39;
}

.icon-xs {
  width: 14px;
  height: 14px;
}

.section-cto {
  margin-top: 15px;
  display: block;
  clear: both;
  padding-top: 15px;
}

.auth-panel .section-cto {
  margin-bottom: 15px;
}

.auth-panel .section-cto .btn {
  min-width: 220px;
}

.section-cto.ds-post-item {
  margin-top: 0;
}

footer[role='contentinfo'] {
  color: #f5f5f5;
  fill: #f5f5f5;
  padding: 40px 0;
}

footer a{
  color: white;
}

.foot-block {
  flex: 1;
  width: auto;
  margin: 15px 0;
}

@media screen and (max-width: 500px) {
  .foot-block{
   /* display: block; */
   margin-bottom: 50px;
  }
}

.foot-block .wrapper {
    width: 100%;
    display: block;
    padding: 0 20px;
}

.brand-image {
  display: inline-block;
}

.brand-image .logo-name{
  font-size: 50px;
}

@media screen and (max-width: 500px) {
  .logo{
   padding-left: 0;
  }
}

@media screen and (max-width: 800px) {
  .foot-block .logo-name{
   font-size: 45px;
  }
}

@media screen and (max-width: 500px) {
  .foot-block .logo-name{
   font-size: 35px;
  }
}

.logo-link {
  display: block;
  position: relative;
  top: 10px;
  fill: #f5f5f5;
}

.div-bar {
  display: block;
  height: 6px;
  border-radius: 10px;
  background-color: #e5e5e5;
  margin-bottom: 20px;
  max-width: 250px;
  background-color: #bb95bb;
}

footer[role='contentinfo'] li:not(:last-of-type) {
  margin-bottom: 10px;
}

.footer_links.last li {
  display: inline-block;
  font-size: .85em;
}

.footer_links.last li + li::before {
  display: inline-block;
  content: '|';
  padding: 0 4px;
  vertical-align: middle;
}

.social_links {
  clear: both;
  display: block;
  margin: 10px 0;
}