*,
*:after,
*:before {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", "Myriad Pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: #312a25;
  font-size: 1.4rem;
  font-size: 14px;
  word-spacing: .5px;
  letter-spacing: .05em;
  height: 100%;
  line-height: 1.65;
  font-weight: 400;
  position: relative;
  margin: 0;
}

body ul,
body ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 100%;
  position: relative;
  z-index: 5;
}

.container.narrow-container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

a{
  text-decoration: none;
}

h1 {
  font-size: 40px;
}
p {
  margin: 0;
}

address {
  margin: 10px 0;
  font-style: normal;
  max-width: 230px;
}

.centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.primary-color{
  color: #2f0238 !important;
}

.color-white{
  color: #fff !important;
}

.bg_strips {
    background-image: url(./img/banners/bg_stroke.png);
}

.bg-primary-color{
  background-color: #2f0238 !important;
}

.font_regular {
  font-weight: 400 !important;
  font-family: "Montserrat", "Myriad Pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
}

.bg-off-white {
  background-color: #f5f5f5 !important;
}

.text-caps{
  text-transform: uppercase !important; 
}

.text-center {
  text-align: center !important;
}

.font-md{
  font-size: 16px;
}

.font-bold {
  font-weight: 700 !important;
}

.flex-row {
    margin: 0 -20px;
    display: flex;
    flex-wrap: wrap;
    zoom: 1;
    padding: 30px;
}

@media screen and (max-width: 500px) {
  .flex-row{
   display: block;
  }
}

.flex-row:before, .flex-row:after {
  content: "";
  display: table;
}

.flex_row:after {
  clear: both;
}

button {
  outline: 0;
  border: none;
  appearance: none;
  width: auto;
  height: auto;
  color: inherit;
  cursor: pointer;
  line-height: 1;
  background: 0 0;
}

header {
  width: 100%;
  z-index: 30;
  -webkit-font-smoothing: antialiased;
  height: 60px;
  top: 0;
  left: 0;
}

.main-header {
  position: absolute;
  background: #2f0238;
  box-shadow: 1px 0 4px #353535;
  fill: #f5f5f5;
  color: #f5f5f5;
}

.main_header + .main_content_area {
  padding-top: 60px;
}

.navbar-container {
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}


.logo{
  justify-content: flex-start;
  padding-left: 15px;
}

.logo-name{
  position: relative;
  bottom: 10px;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
}

/* @media screen and (max-width: 800px) {
  .navbar-container .logo-name{
    bottom: 10px;
  }
} */

.nav-search-box {
  position: relative;
  bottom: 10%;
  flex-grow: 1;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 1024px) {
  .nav-search-box{
    display: none;
  }
}

.nav-search-form {
  background-color: #2e0d20;
  width: 100%;
  /* height: 60px; */
  padding: 8px 10px;
  z-index: 1;
  visibility: visible;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
}

.show_earch .navbar-search-form {
  transform: scaleY(1);
  visibility: visible;
  transition: transform 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
}

@media only screen and (min-width: 1024px) {
  .nav-search-form {
    display: block;
    visibility: visible;
    transform: none;
    background: transparent;
    position: relative;
    bottom: 8px;
  }
}

.nav-search-input {
  background-color: #f5f5f5;
  border-radius: 5px;
  color: #353535;
  border: none;
  display: block;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 8px 50px;
}

.nav-search-input:focus {
  outline: none;
}

.nav-search-btn {
  margin-top: -10px;
  border-radius: 0;
  position: absolute;
  top: 35%;
  right: auto;
  bottom: auto;
  left: auto;
  fill: #757575;
}

.nav-search-submit {
  left: 13px;
}

.nav-search-reset {
  right: 13px;
  /* opacity: 0; */
  visibility: visible;
  transition: all 0.4s ease;
}

.has_value .nav-search-reset {
  opacity: 1;
  visibility: visible;
}

.icon-xs {
  width: 14px;
  height: 14px;
}

.cust-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    vertical-align: middle;
    fill: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* .navs{
  padding-right: 50px;
} */

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .navbar-group-right{
    margin-right: 30px;
  }
}

.navs{
  background-color: #2e0d20;
  height: 100%;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  position: fixed;
  width: 100%;
  left: 0;
  top: 60px;
  /* Tablets and phablets */
}

.is-active .navs{
  transform: scaleY(1);
  visibility: visible;
  transition: transform 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
}

@media only screen and (min-width: 768px) {
  .navs{
    background-color: transparent;
    position: static;
    visibility: visible;
    -moz-transform: scaleY(1);
    transform: scaleY(1);
    /* line-height: 60px; */
  }
}

/* @media screen and (max-width: 800px) {
  .navs{
   display: none;
  }
} */

.nav-links{
  display: inline;
  padding: 10px;
}

.nav-links a{
  color: #fff;
  font-weight: 500;
}

.nav-links a:hover{
  color: #bb95bb;
  font-size: 14.1px;
  /* transform: scale(5); */
  transition: ease-out 0.5s;
}

.navbar-consts {
  /* position: absolute; */
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .navbar-consts{
    visibility: hidden;
  }
}



.control-btns {
  margin-left: 20px;
  position: relative;
}

.control-btns > a {
  display: block;
}

.control-btns-two {
  margin-left: 40px;
  position: relative;
}

.control-btns-two > a {
  display: block;
}

.control-btns-two .cust-icon {
  width: 25px;
  height: 25px;
  /* Mobile devices */
}
@media only screen and (max-width: 575px) {
  .control-btns-two .cust-icon {
    width: 20px;
    height: 20px;
  }
}

.btn-search-trigger {
  /* fill: #bc8a39; */
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 451, ../sass/partials/_header_nav.scss */
  .btn-search-trigger {
    display: block;
    visibility: visible;
    left: 90%;
    bottom: 20px;
    margin-left: 50px;
    margin-right: 20px;
  }
}

.primary-nav-trigger {
  position: relative;
}

.menu-icon {
  /* this span is the central line of the menu icon */
  display: block;
  width: 24px;
  height: 3px;
  background-color: #fff;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */
}

.menu-icon::before, .menu-icon:after {
  content: '';
  width: 24px;
  height: 3px;
  position: absolute;
  background-color: #fff;
  /* right: 0; */
  transition: transform 0.3s, top 0.3s, background-color 0s;
}

.menu-icon::before {
  top: -7px;
}

.menu-icon::after {
  top: 7px;
}

.menu-icon.is-clicked {
  background-color: rgba(188, 138, 57, 0);
}

.menu-icon.is-clicked::before, .menu-icon.is-clicked::after {
  background-color: #bc8a39;
}

.menu-icon.is-clicked::before {
  top: 0;
  transform: rotate(135deg);
}

.menu-icon.is-clicked::after {
  top: 0;
  transform: rotate(225deg);
}

.hero-area {
  width: 100%;
  position: relative;
  z-index: 1;
  height: auto;
  overflow: hidden;
  min-height: 600px;
  padding: 30px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-area::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: .9;
}

.main-hero{
  background-image: url(./img/banners/hero.jpg);
  /* background-repeat: no-repeat; */
}

.main-hero::before {
  opacity: .7;
  background-color: #f5f5f5;
}

.hero-background img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  display: none;
}

.banner-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-wrapper {
  padding: 60px 30px;
  position: relative;
}

@media screen and (max-width: 800px) {
  .section-wrapper{
    padding: 60px 10px;
  }
}


.banner_bg .section-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.banner-content {
  padding-top: 60px;
  position: relative;
}

.hero-intro-msg {
  max-width: 650px;
  padding: 60px 0 40px;
  font-size: 21px;
  position: relative;
  bottom: 25px;
}

.hero-title {
  color: #2f0238;
  font-size: 60px;
  margin-bottom: 10px;
  line-height: 140%;
  font-weight: 700;
  padding-top: 100px;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .hero-title{
    font-size: 40px;
  }
}

.hero-subtitle {
  color: #2f0238;
  font-weight: 300;
}

@media screen and (max-width: 800px) {
  .hero-subtitle{
    font-size: 20px;
  }
}

.main-content{
  position: relative;
  z-index: 1;
}

.section-block {
  width: 100%;
  clear: both;
  background-size: cover;
  position: relative;
}


.section_header {
  padding-bottom: 40px;
}

.section-title {
  font-size: 32px;
}

.deco-bar {
  display: block;
  clear: both;
}

.deco-bar::after {
  display: inline-block;
  content: "";
  position: relative;
  bottom: 60px;
  width: 8rem;
  max-width: 150px;
  height: 4px;
  border-radius: 15px;
  background-color: #bb95bb;
  margin-top: 5px;
}

@media screen and (max-width: 500px) {
  .deco-bar::after{
    margin-top: 30px;
  }
}

.widget-floated {
  position: absolute;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  top: -100px;
  z-index: 100;
  max-width: 1200px;
  max-height: 300px;
}

.destination-search-widget {
  width: 100%;
}

.widget-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px 15px;
  background: #ffffff;
  border: 3px solid #2f0238;
  box-shadow: 3px 7px 25px rgb(187 149 187/ 40%);
  border-radius: 5px;
}

.widget_header {
  display: block;
  clear: both;
  margin-bottom: 30px;
}

.widget-title {
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 10px;
  font-weight: 700;
}

.custom-control-group {
    clear: both;
    display: flex;
    flex-direction: row;
    box-pack: justify;
    justify-content: space-between;
    box-align: center;
    align-items: center;
    flex-flow: column nowrap;
}

.tour-input-group {
  width: 100%;
  margin-bottom: 0;
  max-width: 100%;
  border-radius: 5px;
}

.input-group-wrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .widget-floated .input-group-wrapper{
    display: block;
    margin: 10px 0;
  }
}

@media screen and (max-width: 800px) {
  .tour-budget-banner .input-group-wrapper{
    display: block;
    margin: 10px 0;
  }
}

.form-group {
  position: relative;
  margin-bottom: 20px;
  margin: 0;
}

.tour-input-item {
  padding: 0 .625em;
  position: relative;
  flex: 1 1 20%;
  /* min-width: 20%;
  width: 100%; */
}

@media screen and (max-width: 800px) {
  .widget-floated .tour-input-item{
   padding: 0;
   margin-bottom: 5px;
  }
}

@media screen and (max-width: 800px) {
  .tour-budget-banner .tour-input-item{
   padding: 0;
   margin-bottom: 5px;
  }
}

.tour-input-item.tour-price{
  position: relative;
  flex: 1 1 10%;
  min-width: 10%;
  width: 100%;
}

.form-control {
  display: block;
  padding: 7px 10px;
  font-size: 14px;
  line-height: normal;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  outline: 0;
  width: 100%;
  position: relative;
  border: 1px solid #d5d5d5;
  overflow: hidden;
  border-radius: 5px;
  color: #353535;
  text-indent: .01px;
  min-height: 40px;
  box-shadow: 0 0 3px rgb(53 53 53 / 20%);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select.form-control {
  background: white url(../img/arrow-down.png) right center no-repeat;
  padding-right: 10px;
  -webkit-appearance: none;
}

.form-control.input_filled {
  box-shadow: none;
  height: auto;
  background-color: #f5f5f5;
}

.tour-input-item .form-control {
  border-radius: 0;
  min-height: 50px;
}

.tour-input-btn {
  max-width: 25%;
  flex: 1 1 20%;
  padding-left: 20px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .tour-input-btn{
    display: unset;
    width: 80%;
  }
}

.btn, a.btn{
  border: none;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  letter-spacing: .125em;
  padding: 1.65em 3em;
  text-align: center;
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  fill: #f5f5f5;
  line-height: normal;
  cursor: pointer;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn.btn-primary{
  background-color: #2f0238;
}

.btn.btn-primary:hover{
  background-color: #c47fc4;
  color: #2f0238;
  fill: #2f0238;
}

.btn.search-tour-btn {
  background-color: #2f0238;
}



.btn.btn-default, a.btn.btn-default {
  background-color: #ffffff;
  color: #2f0238;
  fill: #2f0238;
  border: none;
}

.btn.btn-default:hover, .btn.btn-default:focus,
a.btn.btn-default:hover,
a.btn.btn-default:focus {
  background-color: #d5d5d5;
}

.btn-sm.btn, .btn-group-sm > .btn {
  padding: 1.35em 1.75em;
  font-size: 11px;
}

.tour-input-btn .btn {
  display: block;
  width: 100%;
}

.date-icon{
  background-image: url(./img/date.svg);
  z-index: 11;
  width: 16px;
  height: 16px;
  position:absolute;
  left: 85%;
  top: 35%;
}

@media screen and (max-width: 800px) {
  .date-icon{
    left: 96%;
  }
}

@media screen and (max-width: 500px) {
  .date-icon{
    left: 91%;
  }
}


.widget-floated + .section-header {
  margin-top: 100px;
  padding-bottom: 40px;
}

@media screen and (max-width: 800px) {
  .widget-floated + .section-header{
    margin-top: 300px;
  }
}

.section-header {
  padding-bottom: 40px;
}

.section-title  {
  font-size: 50px;
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  .section-title{
    font-size: 30px;
    /* font-weight: 400; */
  }
}

.content-inner {
  clear: both;
  width: 100%;
  padding: 20px;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.card-list {
  position: relative;
  padding: 20px 0;
  /* display: flex;
  flex-flow: row wrap; */
  /* margin-left: -.1em;
  margin-right: -.625em; */
  /* max-width: 100%;
  flex-basis: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 800px) {
    .card-list{
      grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
  .card-list{
    display: block;  
  }
}

.tour-card {
  display: flex;
  flex: 0 0 20%;
  /* max-width: 2%; */
  margin: 20px 12px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 15px rgb(24 24 24 / 15%);
  /* border-radius: 5px;    */
  color: #312a25;
  padding:0  0.626em 1.25em;
  transform: translateY(0);
  transition: 300ms ease all;
  flex-basis: 100%;
  margin-left:13px;
  /* overflow: hidden; */
}

.tour-card:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 15px rgb(24 24 24 / 40%);
}

.tour-card-wrapper{
  background-color: #ffffff;
  opacity: .85;
  flex: 1 1 100%;
}

.tour-card-hd {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 9px;
  text-transform: uppercase;
  padding: 15px 10px;
}

.tour-card-meta {
  flex: 1;
  overflow: hidden;
}

.tour-program-type {
  letter-spacing: .1em;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  color: rgba(53, 53, 53, 0.75);
}

.tour-card-banner {
  position: absolute;
  right: 0.7px;
  min-height: 150px;
  z-index: 0;
  width: 100%;
  /* background-color: #bc8a39; */
  padding: 15px 10px;
}

.tour-card-banne a:hover{
  background-color: white;
}

.tour-card-img {
  background-size: cover;
  background-position: center;
  z-index: 5;
  background-repeat: no-repeat;
}

.card_gradient, .tour-card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tour-card-bd {
  padding: 15px 10px;
  padding-bottom: 20px;
  margin-top: 150px;
 
}

.info-list-item {
  display: flex;
  flex-direction: row;
}

.tour-support-info {
  color: #353535;
  font-size: 12px;
  margin-top: 1em;
}

.info-list-item.tour-item-info {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.info-image {
  display: flex;
  box-flex: 0;
  position: relative;
  top: 22px;
  flex: 0 0 30px;
}

.price-box {
  width: 60px;
  height: 60px;
  padding: 8px 4px;
  font-size: 11px;
  text-align: center;
  margin-right: 10px;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.price-box > span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.day {
  font-size: 1.75em;
  font-weight: 400;
  position: relative;
  top: 5px;
  /* margin: 4px 0; */
}

.info-container {
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.tour-item-info .info-container {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.info-container.flex-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}
.info-list-tem:last-child .info-container {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.info-item-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.tour-card-support {
  padding: 10px 15px;
  font-size: 11px;
  line-height: 1.1;
}

.tour-budget-banner {
  background: linear-gradient(0deg, rgba(47, 2, 56, 0.466), rgba(47, 2, 56, 0.534)), url(./img/banners/tour-banner1.jpg);
  background-size: cover;
  background-position: center;
}

.tour-budget-banner .custom-control-group{
  margin-top: 100px;
}

footer[role='contentinfo'] {
  color: #f5f5f5;
  fill: #f5f5f5;
  padding: 40px 0;
}

footer a{
  color: white;
}

.foot-block {
  flex: 1;
  width: auto;
  margin: 15px 0;
}

@media screen and (max-width: 500px) {
  .foot-block{
   /* display: block; */
   margin-bottom: 50px;
  }
}

.foot-block .wrapper {
    width: 100%;
    display: block;
    padding: 0 20px;
}

.brand-image {
  display: inline-block;
}

.brand-image .logo-name{
  font-size: 50px;
}

@media screen and (max-width: 500px) {
  .logo{
   padding-left: 0;
  }
}

@media screen and (max-width: 800px) {
  .foot-block .logo-name{
   font-size: 45px;
  }
}

@media screen and (max-width: 500px) {
  .foot-block .logo-name{
   font-size: 35px;
  }
}

.logo-link {
  display: block;
  position: relative;
  top: 10px;
  fill: #f5f5f5;
}

.div-bar {
  display: block;
  height: 6px;
  border-radius: 10px;
  background-color: #e5e5e5;
  margin-bottom: 20px;
  max-width: 250px;
  background-color: #bb95bb;
}

footer[role='contentinfo'] li:not(:last-of-type) {
  margin-bottom: 10px;
}

.footer_links.last li {
  display: inline-block;
  font-size: .85em;
}

.footer_links.last li + li::before {
  display: inline-block;
  content: '|';
  padding: 0 4px;
  vertical-align: middle;
}

.social_links {
  clear: both;
  display: block;
  margin: 10px 0;
}